<section class="newslater-section oh subscribe-pt">
    <div class="bg_img right_center" data-background="./assets/images/bg/newslater.jpg" style="background-image: url(&quot;./assets/images/bg/newslater.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="rtl subscribe-thumb">
                        <img src="./assets/images/newslater/newslater1.png" alt="newslater">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newslater-area padding-bottom padding-top">
                        <div class="section-header left-style cl-white mobile-center">
                            <h5 class="cate">Become a delegate or a voter</h5>
                            <h2 class="title">Participate</h2>
                            <p>
                                Having the right forging delegate is important for the network. Usually each public delegate offers a share in rewards, sometimes in combination with additional contribution to the network or project. A delegate can contribute to the security of the network
                                or contribute towards marketing, community and product development, which could return in short term or long term a better value for the asset and project.
                            </p>
                        </div>
                        <div class="mobile-center">
                            <a href="/staking" class="button-4">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>