<!--============= Custom-Plan Section Starts Here =============-->
<section class="custom-plan bg_img oh" data-background="./assets/images/bg/line-bg.png">

    <div class="container">

        <div class="custom-wrapper">
            <span class="circle"></span>
            <span class="circle two"></span>
            <div class="calculate-bg">
                <img src="./assets/images/bg/calculate-bg.png" alt="bg">
            </div>
            <div class="custom-area">
                <div class="section-header cl-white">
                    <h5 class="cate" style="color:#000;">Start voting for a delegate or become a delegate</h5>
                    <h2 class="title">Participate</h2>
                    <p style="font-weight:600;">
                        Having the right forging delegate is important for the network. Usually each public delegate offers a share in rewards, sometimes in combination with additional contribution to the network or project. A delegate can contribute to the security of the network
                        or contribute towards marketing, community and product development, which could return in short term or long term a better value for the asset and project.
                    </p>
                </div>
                <div class="text-center">
                    <a href="#0" class="custom-button large-button theme-shadow" style="background-color:black">Learn
                        More!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Custom-Plan Section Ends Here =============-->