<!--============= To Access Section Starts Here =============-->
<section class="to-access-section padding-top padding-bottom bg_img mb-lg-5" data-background="./assets/images/feature/to-access-bg.png" id="feature">
    <div class="container">
        <div class="section-header">
            <h5 class="cate">Blockchain</h5>
            <h2 class="title">Core Values</h2>
        </div>
        <div class="row mb-30 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="./assets/images/icon/access1.png" alt="access">
                        </div>
                    </div>
                    <h5 class="title">Fast</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="./assets/images/icon/access2.png" alt="access">
                        </div>
                    </div>
                    <h5 class="title">Reliable</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="./assets/images/icon/access3.png" alt="access">
                        </div>
                    </div>
                    <h5 class="title">Secure</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="./assets/images/icon/access4.png" alt="access">
                        </div>
                    </div>
                    <h5 class="title">Sustainable</h5>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/blockchain-about" class="get-button">Explore Features</a>
        </div>
    </div>
</section>
<!--============= To Access Section Ends Here =============-->