<!--============= Feature Section Starts Here =============-->
<section class="feature-section padding-top oh pos-rel padding-bottom pb-xl-0" id="feature">
    <div class="feature-shapes d-none d-lg-block">
        <img src="./assets/images/feature/feature-shape.png" alt="feature">
    </div>
    <div class="container">
        <div class="section-header mw-725">
            <h5 class="cate">It's that easy!</h5>
            <h2 class="title">Build your own dApps</h2>
            <p>
                With SLP you can create your own NFT's, dApps or fungible tokens (text)
            </p>
        </div>
        <div class="row">
            <div class="col-lg-5 rtl">
                <div class="feature--thumb style-two pr-xl-4 ltr">
                    <div class="feat-slider owl-carousel owl-theme" data-slider-id="1">
                        <div class="main-thumb">
                            <img src="./assets/images/feature/pro-main5.png" alt="feature">
                        </div>
                        <div class="main-thumb">
                            <img src="./assets/images/feature/pro-main6.png" alt="feature">
                        </div>
                        <div class="main-thumb">
                            <img src="./assets/images/feature/pro-main7.png" alt="feature">
                        </div>
                        <div class="main-thumb">
                            <img src="./assets/images/feature/pro-main6.png" alt="feature">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="feature-wrapper mb-30-none owl-thumbs" data-slider-id="1">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <div class="thumb">
                                <img src="./assets/images/feature/pro5.png" alt="feature">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Side Ledger Protocol</h4>
                            <p>text about SLP
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <div class="thumb">
                                <img src="./assets/images/feature/pro2.png" alt="feature">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h4 class="title">NFT's and IPFS</h4>
                            <p>Text about nft's and ipfs
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <div class="thumb">
                                <img src="./assets/images/feature/pro3.png" alt="feature">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Governance</h4>
                            <p>Text about governance
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <div class="thumb">
                                <img src="./assets/images/feature/pro4.png" alt="feature">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Fungible tokens and Games</h4>
                            <p>Text about fungible tokens and games
                            </p>
                        </div>
                    </div>
                </div>
                <div class="feat-nav">
                    <a href="#0" class="feat-prev"><i class="flaticon-left"></i></a>
                    <a href="#0" class="feat-next active"><i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Feature Section Ends Here =============-->