<section class="recharge-section padding-bottom padding-top oh" style="padding-bottom:25px;" id="feature">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-xl-8">
                <div class="section-header left-style mobile-center">
                    <h5 class="cate">Features that will enhance your project</h5>
                    <h2 class="title">Build your own dApps</h2>
                    <p>With Solar you can create your own NFT's, dApps or fungible tokens.<br> The Solar Blockchain provides the end-user with rich libraries and tools to develop projects on the blockchain for many usecases.<br> As an example, these tools
                        will allow you to publish NFT's in the form of text, images, audio or video's on the blockchain using our SLP library.<br> SLP stands for Side Ledger Protocol. A sidechain with custom transactions that also enables the user to
                        create fungible tokens in a few simple clicks directly from within the wallet.<br> All of these features are provided with documentation and easy to use Rest API's that can be implemented or integrated in other 3rd party tools
                        and applications.
                    </p>
                </div>
                <div class="recharge-wrapper">
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/dapps/nft.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">NFT's</h5>
                        </div>
                    </div>
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/dapps/dapps.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">dApps</h5>
                        </div>
                    </div>
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/dapps/tokens.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">Tokens</h5>
                        </div>
                    </div>
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/dapps/games.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">Games</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 ltr d-none d-xl-block">
                <img src="./assets/images/recharge/recharge.png" style="max-height:500px;" alt="recharge">
            </div>
        </div>
    </div>
</section>