<section class="recharge-section padding-bottom padding-top oh" style="padding-bottom:25px;" id="feature">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-xl-8">
                <div class="section-header left-style">
                    <h5 class="cate">Features that will enhance your project</h5>
                    <h2 class="title">Build your own dApps</h2>
                    <p>With SLP you can create your own NFT's, dApps or fungible tokens (text)<br> more text<br>more text
                        <br>more text
                    </p>
                </div>
                <div class="recharge-wrapper">
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/recharge/1.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">NFT's</h5>
                        </div>
                    </div>
                    <div class="recharge-item active">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/recharge/2.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">Governance</h5>
                        </div>
                    </div>
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/recharge/3.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">Tokens</h5>
                        </div>
                    </div>
                    <div class="recharge-item">
                        <div class="recharge-thumb">
                            <span class="anime"></span>
                            <div class="thumb"><img src="./assets/images/recharge/4.png" alt="recharge"></div>
                        </div>
                        <div class="recharge-content">
                            <h5 class="title">Games</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 ltr d-none d-xl-block">
                <img src="./assets/images/recharge/recharge.png" style="max-height:500px;" alt="recharge">
            </div>
        </div>
    </div>
</section>