<!--============= Download Section Starts Here =============-->
<section class="download-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Ready to get started?</h2>
        </div>
        <div class="download-area">
            <div class="download-item active">
                <a href="#0" class="thumb"><i class="fab fa-windows"></i></a>
                <div class="content">
                    <h6 class="title">Windows</h6>
                </div>
            </div>
            <div class="download-item">
                <a href="#0" class="thumb"><i class="fab fa-apple"></i></a>
                <div class="content">
                    <h6 class="title">Mac</h6>
                </div>
            </div>
            <div class="download-item">
                <a href="#0" class="thumb"><i class="fab fa-android"></i></a>
                <div class="content">
                    <h6 class="title">Android</h6>
                </div>
            </div>
            <div class="download-item">
                <a href="#0" class="thumb"><i class="fab fa-apple"></i></a>
                <div class="content">
                    <h6 class="title">IOS</h6>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#0" class="button-3 active large-button">Download app</a>
        </div>
    </div>
</section>
<!--============= Download Section Ends Here =============-->