<section id="wallet" class="download-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Ready to get started?</h2>
            <p>Download the wallet for your operating system. All of our software is open source and the code can be viewed in our <a target="_blank" href="https://github.com/solar-network">Github</a>.
            </p>
        </div>

        <div class="recharge-wrapper">
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-win-x64-2.9.9.exe">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/windows.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Windows</h5>
                        <p style="margin-top:5px">Download (.exe)</p>
                    </div>
                </a>
            </div>
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-mac-x64-2.9.9.dmg">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/macos.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">MacOS <br>X64</h5>
                        <p style="margin-top:5px">Download (.dmg)</p>
                    </div>
                </a>
            </div>
            <!--
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-mac-arm64-2.9.9.dmg">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/macos.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">MacOS <br>M1</h5>
                        <p style="margin-top:5px">Download (.dmg)</p>
                    </div>
                </a>
            </div>-->
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-linux-amd64-2.9.9.deb">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/linux.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Linux</h5>
                        <p style="margin-top:5px">Download (.deb)</p>
                    </div>
                </a>
            </div>
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/github.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Source</h5>
                        <p style="margin-top:5px">Visit Github</p>
                    </div>
                </a>
            </div>
        </div>


    </div>

</section>