<section class="newslater-section oh bg_img pos-rel">
    <div class="top-shape d-none d-lg-block">
        <img src="./assets/css/img/top-shape2.png" alt="css">
    </div>
    <div class="bottom-shape d-none d-lg-block">
        <img src="./assets/css/img/bottom-shape2.png" alt="css">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="newslater-area padding-bottom padding-top">
                    <div class="section-header left-style cl-white mobile-center">

                        <h2 class="title" style="color:orangered">Solar</h2>
                        <p style="color:black">
                            Solar is a fully decentralized and open-source blockchain designed from core blockchain components. It operates via a Delegated Proof of Stake consensus and secured by 53 voted-in delegates that produce blocks and validate transactions.
                        </p>
                        <div class="group">
                            <a href="/about-solar" class="button-4">Learn more</a>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="subscribe-thumb-2">
                    <img style="max-height:500px;padding-top:50px;" src="./assets/images/newslater/newslater2.png" alt="newslater">
                </div>
            </div>
        </div>
    </div>
</section>