<!--============= Counter Section Starts Here =============-->
<section class="counter-section bg_img oh pos-rel" data-background="./assets/images/bg/counter-bg.png">
    <div class="elem-1">
        <img src="./assets/images/counter/circle1.png" alt="counter">
    </div>
    <div class="elem-2">
        <img src="./assets/images/counter/round.png" alt="counter">
    </div>
    <div class="elem-3">
        <img src="./assets/images/counter/square.png" alt="counter">
    </div>
    <div class="elem-4">
        <img src="./assets/images/counter/square2.png" alt="counter">
    </div>
    <div class="elem-5">
        <img src="./assets/images/counter/tera.png" alt="counter">
    </div>
    <div class="elem-6">
        <img src="./assets/images/counter/tri1.png" alt="counter">
    </div>
    <div class="elem-7">
        <img src="./assets/images/counter/tri2.png" alt="counter">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="counter-wrapper padding-bottom padding-top">
                    <div class="section-header left-style cl-white">
                        <h2 class="title">Discover<br>Solar Network</h2>
                        <p>Solar Network is a fully decentralized and open-source blockchain designed from core blockchain components. It operates via a Delegated Proof of Stake consensus and secured by 53 voted-in delegates that produce blocks and validate
                            transactions.
                        </p>

                    </div>
                    <div class="text-left">
                        <a href="#0" class="custom-button large-button theme-shadow" style="background-color:black">Learn
                            More!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="counter-thumb-1">
                    <img src="./assets/images/counter/phn1.png" alt="counter">
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Counter Section Ends Here =============-->