<!--============= History Section Starts Here =============-->
<section class="history-section padding-top pt-lg-0 padding-bottom-2" style="margin-top:50px;">
    <div class="container">
        <div class="section-header">
            <h5 class="cate">Solar</h5>
            <h2 class="title">Roadmap</h2>

        </div>
        <div class="history-slider owl-theme owl-carousel">
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2014</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2015</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2016</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2017</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2018</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2019</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2021</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2014</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2015</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2016</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2017</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2018</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2019</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-content">
                    <div class="content">
                        <h6 class="title">We Are Growing</h6>
                        <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                    </div>
                </div>
                <div class="history-thumb">
                    <div class="anime-item-2"></div>
                    <span>2021</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= History Section Ends Here =============-->