<section class="trial-section padding-bottom padding-top" style="padding-bottom:50px;">
    <div class="container mobile-center">
        <div class="trial-wrapper padding-top padding-bottom pr">
            <div class="ball-1">
                <img src="./assets/images/balls/balls.png" alt="balls">
            </div>
            <div class="trial-content mobile-center">
                <h3 class="mobile-center" style="margin-bottom:25px;">Trade SXP on these exchanges!</h3>
                <div class="exchanges-content">
                    <div class="row exchanges-items">
                        <div class="exchanges-item"><img class="exchanges-item__img" src="./assets/images/exchanges/binance.svg" alt="" width="124px" height="25px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/ftx.svg" alt="" width="86px" height="27px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/upbit.svg" alt="" width="83px" height="19px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/bitstamp.svg" alt="" width="114px" height="26px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/bithumb.svg" alt="" width="137px" height="38px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/huobi.svg" alt="" width="93px" height="23px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/kucoin.svg" alt="" width="102px" height="30px"></div>
                    </div>
                </div>

            </div>
            <div class="trial-button mobile-spacing">
                <a target="_blank" href="https://coinmarketcap.com/en/currencies/sxp/" class="button-3 active">Coinmarketcap</a>
            </div>
            <div class="trial-button mobile-spacing">
                <a target="_blank" href="https://www.coingecko.com/en/coins/sxp" class="button-3 active">Coingecko
                </a>
            </div>
        </div>
    </div>
</section>