<section class="trial-section padding-bottom padding-top" style="padding-bottom:50px;">
    <div class="container">
        <div class="trial-wrapper padding-top padding-bottom pr">
            <div class="ball-1">
                <img src="./assets/images/balls/balls.png" alt="balls">
            </div>
            <div class="trial-content">
                <h3 class="title">Trade SXP on these exchanges!</h3>
                <div class="exchanges-content">
                    <div class="exchanges-items">
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/binance.svg" alt="" width="124px" height="25px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/ftx.svg" alt="" width="86px" height="27px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/upbit.svg" alt="" width="83px" height="19px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/bitstamp.svg" alt="" width="114px" height="26px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/bithumb.svg" alt="" width="137px" height="38px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/huobi.svg" alt="" width="93px" height="23px"></div>
                        <div class="exchanges-item"><img class="exchanges-item__img" src="assets/kucoin.svg" alt="" width="102px" height="30px"></div>
                    </div>
                </div>

            </div>
            <div class="trial-button">
                <a href="#0" class="transparent-button">Visit Coinmarketcap <i class="flaticon-right ml-xl-2"></i></a>
            </div>
            <div class="trial-button">
                <a href="#0" class="transparent-button">Visit Coingecko <i class="flaticon-right ml-xl-2"></i></a>
            </div>
        </div>
    </div>
</section>