<section class="trial-section padding-bottom padding-top" style="padding-bottom:50px;">
    <div class="container mobile-center">
        <h3 class="mobile-center" style="text-align:center;margin-bottom:25px;">Trade SXP on these exchanges!</h3>
        <div class="trial-wrapper padding-top padding-bottom pr">
            <div class="ball-1">
                <img src="./assets/images/balls/balls.png" alt="balls">
            </div>
            <div class="trial-content mobile-center" style="width:100%;">
                <div class="exchanges-content">
                    <div class="row" style="text-align: -webkit-center;">
                        <div class="col-md-6 mt-5">
                            <h3>Mainnet </br>Blockchain</h3>
                            <a href="https://www.bitget.com/en/spot/sxpusdt_SPBL" target="_blank">
                                <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/bitget.png" alt="" height="30px"></div>
                            </a>
                            <a href="https://gate.io/trade/sxp_usdt" target="_blank">
                                <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/gate.svg" alt="" height="38px"></div>
                            </a>
                            <a href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-SXP" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/upbit.svg" alt="" width="83px" height="19px"></div>
                            </a>
                            <a href="https://xeggex.com/market/SXP_USDT" target="_blank">
                                <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/xeggexlogo.png" alt="" height="24px"></div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Pending Migration (ERC20/BEP20)</h3>
                            <a href="https://www.binance.com/en/trade/SXP_USDT" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="./assets/images/exchanges/binance.svg" alt="" width="124px" height="25px"></div>
                            </a>
                            <a href="https://www.bitstamp.net/markets/sxp/eur/" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/bitstamp.svg" alt="" width="114px" height="26px"></div>
                            </a>
                            <a href="https://www.bithumb.com/trade/order/SXP_KRW" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/bithumb.svg" alt="" width="137px" height="38px"></div>
                            </a>
                            <a href="https://ftx.com/trade/SXP/USD" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/ftx.svg" alt="" width="86px" height="27px"></div>
                            </a>
                            <a href="https://www.huobi.com/en-us/exchange/sxp_usdt" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/huobi.svg" alt="" width="93px" height="23px"></div>
                            </a>
                            <a href="https://www.kucoin.com/trade/SXP-USDT" target="_blank">
                                <div class="exchanges-item mb-3"><img class="exchanges-item__img" src="assets/images/exchanges/kucoin.svg" alt="" width="102px" height="30px"></div>
                            </a>
                            <a href="https://kraken.com" target="_blank">
                                <div class="exchanges-item"><img class="exchanges-item__img" src="assets/images/exchanges/kraken.png" alt="" width="86px" height="27px"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mobile-center mt-5" style="justify-content:center;">
            <div class="trial-button mobile-spacing mr-2">
                <a target="_blank" href="https://coinmarketcap.com/en/currencies/sxp/" class="button-3 active">Coinmarketcap</a>
            </div>
            <div class="trial-button mobile-spacing">
                <a target="_blank" href="https://www.coingecko.com/en/coins/sxp" class="button-3 active">Coingecko
                        </a>
            </div>
        </div>
    </div>
</section>