{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}



    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">Available for Windows, MacOS and Linux</h5>
                        <h2 class="title">More than just payments.</h2>
                        <p>
                            The Solar Desktop Wallet is here to connect you with the SXP Blockchain. <br> Together with payments and multipayments, the wallets will be further enhanced with a wide variation of tools and features to interact with the Blockchain
                            and the community.<br> Follow the latest SXP news in the wallet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="amazing-platform-section oh">
        <div class="container" style="margin-bottom:100px;">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="rtl">
                        <img src="./assets/images/extra-2/platform.png" style="max-width:900px;" alt="amazing">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amazing-platform-content padding-bottom padding-top pb-max-lg-0 pt-max-lg-half">
                        <div class="section-header left-style mobile-center">
                            <h5 class="cate">Choose your device platform</h5>

                            <h2 class="title">Download Now</h2>
                            <p>
                                Vote for your favorite delegates or exchange other assets straight within the app.
                                <br>The Desktop App will be a one-stop shop to create your own tokens on the SXP blockchain or to upload your artwork to IPFS.
                                <br><br>
                                <p style="font-weight:600;">Latest release: v2.9.9</p>
                            </p>
                        </div>

                        <div class="recharge-wrapper">
                            <div class="recharge-item">
                                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-win-x64-2.9.9.exe">
                                    <div class="recharge-thumb">
                                        <span class="anime"></span>
                                        <div class="thumb"><img src="./assets/images/wallets/windows.png" alt="recharge"></div>
                                    </div>
                                    <div class="recharge-content">
                                        <h5 class="title">Windows</h5>
                                        <p style="margin-top:5px">Download (.exe)</p>
                                    </div>
                                </a>
                            </div>
                            <div class="recharge-item">
                                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-mac-x64-2.9.9.dmg">
                                    <div class="recharge-thumb">
                                        <span class="anime"></span>
                                        <div class="thumb"><img src="./assets/images/wallets/macos.png" alt="recharge">
                                        </div>
                                    </div>
                                    <div class="recharge-content">
                                        <h5 class="title">MacOS <br>X64</h5>
                                        <p style="margin-top:5px">Download (.dmg)</p>
                                    </div>
                                </a>
                            </div>
                            <!--
                            <div class="recharge-item">
                                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-mac-arm64-2.9.9.dmg">
                                    <div class="recharge-thumb">
                                        <span class="anime"></span>
                                        <div class="thumb"><img src="./assets/images/wallets/macos.png" alt="recharge">
                                        </div>
                                    </div>
                                    <div class="recharge-content">
                                        <h5 class="title">MacOS <br>M1</h5>
                                        <p style="margin-top:5px">Download (.dmg)</p>
                                    </div>
                                </a>
                            </div>-->
                            <div class="recharge-item">
                                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.9/solar-desktop-wallet-linux-amd64-2.9.9.deb">
                                    <div class="recharge-thumb">
                                        <span class="anime"></span>
                                        <div class="thumb"><img src="./assets/images/wallets/linux.png" alt="recharge">
                                        </div>
                                    </div>
                                    <div class="recharge-content">
                                        <h5 class="title">Linux</h5>
                                        <p style="margin-top:5px">Download (.deb)</p>
                                    </div>
                                </a>
                            </div>
                            <div class="recharge-item">
                                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet">
                                    <div class="recharge-thumb">
                                        <span class="anime"></span>
                                        <div class="thumb"><img src="./assets/images/wallets/github.png" alt="recharge">
                                        </div>
                                    </div>
                                    <div class="recharge-content">
                                        <h5 class="title">Source</h5>
                                        <p style="margin-top:5px">Visit Github</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}