{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}


    <!--============= Header Section Ends Here =============-->
    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">Available for Windows, MacOS and Linux</h5>
                        <h2 class="title">More than just payments..</h2>
                        <p>
                            Become part of our community. Participate governance, vote delegates, etc
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Amazing Platform Section Starts Here =============-->
    <section class="amazing-platform-section oh">
        <div class="container" style="margin-bottom:100px;">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="rtl">
                        <img src="./assets/images/extra-2/platform.png" style="max-width:900px;" alt="amazing">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amazing-platform-content padding-bottom padding-top pb-max-lg-0 pt-max-lg-half">
                        <div class="section-header left-style mobile-center">
                            <h5 class="cate">Choose your device platform</h5>
                            <h2 class="title">Download Now</h2>
                            <p>
                                This text (placeholder)
                            </p>
                        </div>


        <div class="recharge-wrapper">
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/v1.0.2/solar-wallet-win-1.0.2.exe">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/windows.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Windows</h5>
                        <p style="margin-top:5px">Download (.exe)</p>
                    </div>
                </a>
            </div>
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/v1.0.2/solar-wallet-mac-1.0.2.dmg">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/macos.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">MacOS</h5>
                        <p style="margin-top:5px">Download (.dmg)</p>
                    </div>
                </a>
            </div>
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet/releases/download/v1.0.2/solar-wallet-linux-amd64-1.0.2.deb">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/linux.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Linux</h5>
                        <p style="margin-top:5px">Download (.deb)</p>
                    </div>
                </a>
            </div>
            <div class="recharge-item">
                <a target="_blank" href="https://github.com/Solar-network/desktop-wallet">
                    <div class="recharge-thumb">
                        <span class="anime"></span>
                        <div class="thumb"><img src="./assets/images/wallets/github.png" alt="recharge"></div>
                    </div>
                    <div class="recharge-content">
                        <h5 class="title">Source</h5>
                        <p style="margin-top:5px">Visit Github</p>
                    </div>
                </a>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Amazing Platform Section Ends Here =============-->


    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}