{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}


    <!--============= Header Section Ends Here =============-->
    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">Available for Android and iOS</h5>
                        <h2 class="title">Solar Mobile Wallet</h2>
                        <p>
                            Become part of our community. Participate governance, vote delegates,, etc (placeholder)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--============= Apps Download Section Starts Here =============-->
    <section class="apps-download-section overflow-hidden padding-top padding-bottom body--bg">
        <div class="container">


            <div class="apps-download-buttons-20">
                <h6 class="title cl-white text-center mb-4">Ready to get started?</h6>
                <ul class="download-options">
                    <li>
                        <a href="#0" class="active"><i class="fab fa-apple"></i></a>
                        <span class="cl-white">Android</span>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-android"></i></a>
                        <span class="cl-white">ios</span>
                    </li>
                </ul>
            </div>
            <div class="apps-download-screen-20">
                <div class="apps-download-bg">
                    <img src="./assets/images/extra-2/screenshot/mocup.png" alt="extra-2/screenshot">
                </div>
                <div class="apps-download-thumb">
                    <img src="./assets/images/extra-2/screenshot/mocup-screen.png" alt="extra-2/screenshot">
                </div>
            </div>
        </div>
    </section>
    <!--============= Apps Download Section Ends Here =============-->


    {% include "/blocks/footer.twig" %}

</body>
{% endblock %}