{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}


    <!--============= Header Section Ends Here =============-->
    <section class="page-header bg_img" data-background="./assets/images/page-header.png">
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/page-header.png" alt="css">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title" style="color:orange">Mobile Wallet</h2>

            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->


    <!--============= Apps Download Section Starts Here =============-->
    <section class="apps-download-section overflow-hidden padding-top padding-bottom body--bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="section-header mw-100">
                        <h5 class="cate">Packed with amazing features</h5>
                        <h2 class="title">Solar Mobile Wallet</h2>
                        <p class="mx-auto mw-540px">
                            Are you ready to make the leap? Download Apps for iOS or Android today!
                        </p>
                    </div>

                </div>
            </div>
            <div class="apps-download-buttons-20">
                <h6 class="title cl-white text-center mb-4">Ready to get started?</h6>
                <ul class="download-options">
                    <li>
                        <a href="#0" class="active"><i class="fab fa-apple"></i></a>
                        <span class="cl-white">Android</span>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-android"></i></a>
                        <span class="cl-white">ios</span>
                    </li>
                </ul>
            </div>
            <div class="apps-download-screen-20">
                <div class="apps-download-bg">
                    <img src="./assets/images/extra-2/screenshot/mocup.png" alt="extra-2/screenshot">
                </div>
                <div class="apps-download-thumb">
                    <img src="./assets/images/extra-2/screenshot/mocup-screen.png" alt="extra-2/screenshot">
                </div>
            </div>
        </div>
    </section>
    <!--============= Apps Download Section Ends Here =============-->



    {% include "/blocks/footer.twig" %}

</body>
{% endblock %}