{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}

    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">placeholder</h5>
                        <h2 class="title">Developer Documentation</h2>
                        <p>
                            (placeholder)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature-section padding-top padding-bottom oh">
        <div class="container">

            <ul class="nav nav-tabs feature-tab-menu">
                <li>
                    <a data-toggle="tab" href="#collaboration" class="active">Libraries</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#productivity">Exchange Integration</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#integrations">API Docs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="collaboration">
                    <div class="row">
                        <div class="col-lg-6 col-md-10">
                            <div class="feature-tab-header">
                                <h3 class="title">Placeholder</h3>
                                <p>Placeholder
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="productivity">
                    <div class="row">
                        <div class="col-lg-6 col-md-10">
                            <div class="feature-tab-header">
                                <h3 class="title">Placeholder</h3>
                                <p>Placeholder
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="integrations">
                    <div class="row">
                        <div class="col-lg-6 col-md-10">
                            <div class="feature-tab-header">
                                <h3 class="title">Placeholder</h3>
                                <p>Placeholder
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </section>

    {% include "/blocks/footer.twig" %}


</body>
{% endblock %}