{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}


    <h1>Placeholder</h1>



    {% include "/blocks/footer.twig" %}

</body>
{% endblock %}