{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}
    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg" style="margin-bottom:150px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">

                        <h2 class="title">Solar Community</h2>
                        <p>
                            The Solar community is built for the community and by the community.<br> The Solar community welcomes developers, crypto-enthusiasts, art creators, enterprises and all sorts of users.
                            <br> Within our community you will also find the founders and developers behind the Solar project. Join us and we will guide you through the Solar Ecosystem!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="comunity-section padding-top padding-bottom oh pos-rel">
        <div class="comunity-bg bg_img" data-background="./assets/images/client/mosto-client.jpg" style="background-image: url(&quot;./assets/images/client/mosto-client.jpg&quot;);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header cl-white">
                        <h5 class="cate">Join the community</h5>
                        <h2 class="title">Over 35.000 users</h2>
                        <p>Join and share in a community of like-minded members.</p>
                    </div>
                </div>
            </div>
            <div class="comunity-wrapper">
                <div class="buttons mobile-center">
                    <a href="https://discord.solar.org" target="_blank" class="button-3 active m-2">Discord </a>
                    <a href="https://telegram.solar.org" target="_blank" class="button-3 active m-2">Telegram</a>
                    <!--   <a href="https://reddit.solar.org" target="_blank" class="button-3 active m-2">Reddit </a>-->
                    <a href="https://twitter.solar.org" target="_blank" class="button-3 active m-2">Twitter</a>
                </div>
                <div class="comunity-area">
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                </div>
                <div class="comunity-area two">
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>

                </div>
                <div class="comunity-area three">
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                    <div class="comunity-item"><img src="./assets/images/favicon.png" alt="comunity"></div>
                </div>
            </div>
        </div>
    </section>

    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}