{% extends 'layout.twig' %}
<!---->
{% block body %}

<body>
    <!---->
    {% include "/blocks/header.twig" %}
    <!---->
    {% include "/section/banner.twig" %}
    <!---->
    {% include "/section/midbanner.twig" %}
    <!---->
    {% include "/section/become-a-delegate.twig" %}
    <!---->
    {% include "/section/dapps.twig" %}
    <!---->
    {% include "/section/trade-sxp.twig" %}
    <!---->
    {% include "/section/get-started.twig" %}
    <!---->
    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}