{% extends 'layout.twig' %} {% block body %}

<body>
    <!---->
    {% include "/blocks/header.twig" %}
    <!---->
    {% include "/section/banner.twig" %}
    <!---->
    {% include "/section/midbanner.twig" %}
    <!---->
    <div class="amazing-feature padding-top padding-bottom pos-rel oh" style="padding-top:25px;" id="feature">
        <div class="rocket d-none d-xl-block" data-paroller-factor="0.70" data-paroller-factor-lg="-0.70" data-paroller-type="foreground" data-paroller-direction="horizontal" style="transform: translate(324px, 0px); transition: transform 0.1s ease 0s; will-change: transform;"><img style="max-height:200px;" src="./assets/images/feature/rocket.png" alt="feature"></div>

        <div class="container">
            <div class="row justify-content-center">


                <div class="col-8">


                    <div class="logo-slider owl-theme owl-carousel">

                        <div class="item">
                            <img src="./assets/images/banner/banner16/01.png" alt="banner">
                        </div>
                        <div class="item">
                            <img src="./assets/images/banner/banner16/02.png" alt="banner">
                        </div>
                        <div class="item">
                            <img src="./assets/images/banner/banner16/03.png" alt="banner">
                        </div>
                        <div class="item">
                            <img src="./assets/images/banner/banner16/04.png" alt="banner">
                        </div>
                        <div class="item">
                            <img src="./assets/images/banner/banner16/05.png" alt="banner">
                        </div>
                        <div class="item">
                            <img src="./assets/images/banner/banner16/06.png" alt="banner">
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <h5 style="padding-top:30px;">Find SXP on these Exchanges</h5>
                </div>
            </div>
        </div>
    </div>
    {% include "/section/become-a-delegate.twig" %} {% include "/section/dapps.twig" %}
    <!---->




    <!---->
    {% include "/section/get-started.twig" %}



    <!---->
    {% include "/blocks/footer.twig" %}
</body>

{% endblock %}