{% extends 'layout.twig' %} {% block body %}

<body>
    <!---->
    {% include "/blocks/header.twig" %}
    <!---->
    {% include "/section/banner.twig" %}
    <!---->
    {% include "/section/core-values.twig" %}
    <!---->
    {% include "/section/exchanges.twig" %}
    <!---->

    <!---->






    <!--============= Counter Section Starts Here =============-->
    <section class="counter-section bg_img oh pos-rel" data-background="./assets/images/bg/counter-bg.png">
        <div class="elem-1">
            <img src="./assets/images/counter/circle1.png" alt="counter">
        </div>
        <div class="elem-2">
            <img src="./assets/images/counter/round.png" alt="counter">
        </div>
        <div class="elem-3">
            <img src="./assets/images/counter/square.png" alt="counter">
        </div>
        <div class="elem-4">
            <img src="./assets/images/counter/square2.png" alt="counter">
        </div>
        <div class="elem-5">
            <img src="./assets/images/counter/tera.png" alt="counter">
        </div>
        <div class="elem-6">
            <img src="./assets/images/counter/tri1.png" alt="counter">
        </div>
        <div class="elem-7">
            <img src="./assets/images/counter/tri2.png" alt="counter">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="counter-wrapper padding-bottom padding-top">
                        <div class="section-header left-style cl-white">
                            <h5 class="cate">Super Clean User Interface</h5>
                            <h2 class="title">Delivering Exceptional User Experiences.</h2>
                            <p>Explore app of the next generation.The only app you’ll need to power your life.</p>
                        </div>
                        <div class="counter-area">
                            <div class="counter--item">
                                <div class="counter-thumb">
                                    <img src="./assets/images/icon/counter3.png" alt="icon">
                                </div>
                                <div class="counter-content">
                                    <h2 class="title"><span class="counter">17501</span></h2>
                                    <span>Premium User</span>
                                </div>
                            </div>
                            <div class="counter--item">
                                <div class="counter-thumb">
                                    <img src="./assets/images/icon/counter4.png" alt="icon">
                                </div>
                                <div class="counter-content">
                                    <h2 class="title"><span class="counter">1,987</span></h2>
                                    <span>Daily Visitors</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="counter-thumb-1">
                        <img src="./assets/images/counter/phn1.png" alt="counter">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Counter Section Ends Here =============-->


    <!--============= Amazing Platform Section Starts Here =============-->
    <section class="amazing-platform-section oh">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="rtl amazing-flatform-thumb">
                        <img src="./assets/images/extra-2/platform.png" alt="amazing">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amazing-platform-content padding-bottom padding-top pb-max-lg-0 pt-max-lg-half">
                        <div class="section-header left-style">
                            <h5 class="cate">Choose your device platform</h5>
                            <h2 class="title">Download Now</h2>
                            <p>
                                Get the latest resources for downloading, installing, and updating Solar app.Select your device platform andUse Our app and Enjoy Your Life.
                            </p>
                        </div>
                        <h4 class="subtitle">Get Solar-Network Now!</h4>
                        <div class="amazing-platform-area">
                            <div class="amazing-platform-item">
                                <div class="amazing-platform-thumb">
                                    <a href="#0" class="active"><i class="fab fa-apple"></i></a>
                                </div>
                                IOS
                            </div>
                            <div class="amazing-platform-item">
                                <div class="amazing-platform-thumb">
                                    <a href="#0"><i class="fab fa-android"></i></a>
                                </div>
                                Android
                            </div>
                            <div class="amazing-platform-item">
                                <div class="amazing-platform-thumb">
                                    <a href="#0"><i class="fab fa-windows"></i></a>
                                </div>
                                Windows
                            </div>
                            <div class="amazing-platform-item">
                                <div class="amazing-platform-thumb">
                                    <a href="#0"><i class="fas fa-desktop"></i></a>
                                </div>
                                Mac OS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Amazing Platform Section Ends Here =============-->


    <!--============= History Section Starts Here =============-->
    <section class="history-section padding-top pt-lg-0 padding-bottom-2">
        <div class="container">
            <div class="section-header">
                <h5 class="cate">Our history </h5>
                <h2 class="title">How We Became Successful</h2>
                <p>We always challenge the openness of higher possibilities without defining the limits of our teams and products. We test our hypotheses about new attempts and enjoy making our way around the world.</p>
                <p></p>
            </div>
            <div class="history-slider owl-theme owl-carousel">
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2014</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2015</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2016</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2017</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2018</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2019</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2021</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2014</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2015</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2016</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2017</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2018</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2019</span>
                    </div>
                </div>
                <div class="history-item">
                    <div class="history-content">
                        <div class="content">
                            <h6 class="title">We Are Growing</h6>
                            <p>emeritis hibridas hic dignus de fortis, altus orexisstoria</p>
                        </div>
                    </div>
                    <div class="history-thumb">
                        <div class="anime-item-2"></div>
                        <span>2021</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= History Section Ends Here =============-->
    <!--============= Join Team Section Ends Here =============-->
    <section class="trial-section padding-bottom">
        <div class="container">
            <div class="trial-wrapper padding-top padding-bottom bg_img style-three" data-background="./assets/images/bg/trial2.png">
                <div class="trial-content cl-white">
                    <h3 class="title m-0">Are You Want to Join Our Team?</h3>
                </div>
                <div class="trial-button">
                    <a href="#0" class="button-3 long-light active text-light">JOIN OUR TEAM <i
                            class="flaticon-right ml-xl-2"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--============= Join Team Section Ends Here =============-->
    <!--============= How Section Starts Here =============-->
    <section class="how-section-two oh pos-rel mt-120 mt-max-lg-0" id="how">
        <div class="how-main-bg bg_img" data-background="./assets/images/how/how-bg.jpg"></div>
        <div class="how-top"><img src="./assets/css/img/how-top2.png" alt="css"></div>
        <div class="how-bottom"><img src="./assets/css/img/how-bottom2.png" alt="css"></div>
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-5 rtl">
                    <a href="https://www.youtube.com/watch?v=ObZwFExwzOo" class="feature-video-area popup">
                        <div class="thumb">
                            <img src="./assets/images/feature/fature-video2.png" alt="feature">
                        </div>
                        <div class="button-area">
                            <h4 class="title">
                                Watch Videos
                            </h4>
                            <div class="video-button">
                                <i class="flaticon-play"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-7 padding-top">
                    <div class="section-header left-style">
                        <h5 class="cate">Describe Your App</h5>
                        <h2 class="title">Let’s See How It Work</h2>
                        <p>It's easier than you think.Follow 3 simple easy steps</p>
                    </div>
                    <div class="downarrow2">
                        <img src="./assets/images/feature/downarrow2.png" alt="feature">
                    </div>
                </div>
            </div>
            <div class="how-wrapper">
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c10.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i1.png" alt="how">
                        </div>
                        <a href="#0" class="button-4">download app</a>
                        <p>
                            Download App either for Windows,Mac or Android
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h1.png" alt="how">
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c8.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i2.png" alt="how">
                        </div>
                        <a href="#0" class="button-4">create an account</a>
                        <p>
                            Sign up for Mosta account. One account for all devices
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h2.png" alt="how">
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c9.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i3.png" alt="how">
                        </div>
                        <a href="#0" class="button-4">enjoy the app</a>
                        <p>
                            Explore and share mosta
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h3.png" alt="how">
                    </div>
                </div>
                <div class="plane wow slideInUp d-none d-lg-block" data-wow-duration="2s">
                    <img src="./assets/images/how/rocket.png" alt="how">
                </div>
            </div>
            <div class="member-counter-area padding-bottom padding-top">
                <div class="up-bal two wow">
                    <img src="./assets/images/how/c6.png" alt="how">
                </div>
                <div class="up-bal wow slideInUp" data-wow-duration="1s">
                    <img src="./assets/images/how/c7.png" alt="how">
                </div>
                <div class="member-bg">
                    <img src="./assets/images/how/how-much-bg.png" alt="how">
                </div>
                <div class="member-counter cl-white">
                    <h2 class="title"><span class="counter">455,326,234</span></h2>
                    <p>People Joined Already</p>
                    <a href="#0" class="custom-button">Download App</a>
                    <ul class="download-options">
                        <li>
                            <a href="#0"><i class="fab fa-windows"></i></a>
                        </li>
                        <li>
                            <a href="#0" class="active"><i class="fab fa-apple"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-android"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--============= How Section Ends Here =============-->
    <!--============= Custom-Plan Section Starts Here =============-->
    <section class="custom-plan bg_img oh" data-background="./assets/images/bg/line-bg.png">
        <div class="container">
            <div class="custom-wrapper">
                <span class="circle"></span>
                <span class="circle two"></span>
                <div class="calculate-bg">
                    <img src="./assets/images/bg/calculate-bg.png" alt="bg">
                </div>
                <div class="custom-area">
                    <div class="section-header cl-white">
                        <h5 class="cate">Mosta Cost Calculator</h5>
                        <h2 class="title">Need a Custom Plan?</h2>
                        <p>
                            We’ve created this handy plan cost calculator just for you. Find out how much your custom plan will cost in under a minute!
                        </p>
                    </div>
                    <div class="text-center">
                        <a href="#0" class="custom-button large-button theme-shadow">Use Cost Calculator</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Custom-Plan Section Ends Here =============-->
    <!--============= Download Section Starts Here =============-->
    <section class="download-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Ready to get started?</h2>
            </div>
            <div class="download-area">
                <div class="download-item active">
                    <a href="#0" class="thumb"><i class="fab fa-windows"></i></a>
                    <div class="content">
                        <h6 class="title">Windows</h6>
                    </div>
                </div>
                <div class="download-item">
                    <a href="#0" class="thumb"><i class="fab fa-apple"></i></a>
                    <div class="content">
                        <h6 class="title">Mac</h6>
                    </div>
                </div>
                <div class="download-item">
                    <a href="#0" class="thumb"><i class="fab fa-android"></i></a>
                    <div class="content">
                        <h6 class="title">Android</h6>
                    </div>
                </div>
                <div class="download-item">
                    <a href="#0" class="thumb"><i class="fab fa-apple"></i></a>
                    <div class="content">
                        <h6 class="title">IOS</h6>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#0" class="button-3 active large-button">Download app</a>
            </div>
        </div>
    </section>
    <!--============= Download Section Ends Here =============-->
    <!--============= Pricing Section Starts Here =============-->
    <section class="pricing-section padding-bottom padding-top-2 pt-lg-0 oh" id="pricing">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="pricing-content">
                        <div class="section-header left-style">
                            <h5 class="cate">Choose a plan that's right for you</h5>
                            <h2 class="title">Simple, Affordable Pricing Plans. </h2>
                            <p>
                                Solar-Network has plans, from free to paid, that scale with your needs. Subscribe to a plan that fits the size of your business.
                            </p>
                        </div>
                        <div class="button-group">
                            <a href="#0" class="button-3 active">Start a free trial</a>
                            <a href="#0" class="button-3">View pricing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6">
                    <div class="range-wrapper">
                        <div class="shape-1 d-none d-lg-block">
                            <img src="./assets/images/bg/1.png" alt="bg">
                        </div>
                        <div class="shape-2 d-none d-lg-block">
                            <img src="./assets/images/bg/2.png" alt="bg">
                        </div>
                        <div class="pricing-range">
                            <div class="pricing-range-top">
                                <div class="pricing-header">
                                    <span class="cate">Pricing Options</span>
                                    <div class="select-container">
                                        <select class="select-bar">
                                            <option value="basic">Basic</option>
                                            <option value="standard">Standard</option>
                                            <option value="premium">Premium</option>
                                            <option value="pro">Premium Pro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="amount-area">
                                    <div class="item">
                                        <h2 class="title"><sup>$</sup>15.00</h2>
                                        <span class="info">Per Month</span>
                                    </div>
                                    <div class="item">
                                        <h2 class="title"><sup>$</sup>199.00</h2>
                                        <span class="info">Per Year</span>
                                    </div>
                                </div>
                                <div class="invest-range-area">
                                    <div class="invest-amount" data-min="1.00 USD" data-max="1000 USD">
                                        <div id="usd-range" class="invest-range-slider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-range-bottom">
                                <a href="#0" class="custom-button">Download App</a>
                                <ul class="download-options">
                                    <li>
                                        <a href="#0" class="active"><i class="fab fa-windows"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fab fa-apple"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fab fa-android"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Ends Here =============-->
    <!--============= Convence Feature Section Starts Here =============-->
    <section class="convence-feature padding-bottom bg_img pb-xl-0" data-background="./assets/images/bg/c-feature.jpg" id="feature">
        <div class="lg-oh padding-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <div class="section-header mw-100">
                            <h5 class="cate">Amazing features to convince you</h5>
                            <h2 class="title">Solar-Network makes communication & collaboration effortless</h2>
                            <p>Get all the features you need in one easy-to-use tool</p>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs feature-tabs">
                    <li>
                        <a data-toggle="tab" href="#conversation">
                            <div class="thumb">
                                <i class="flaticon-chat"></i>
                            </div>
                            <span class="d-block subtitle">Instant conversations</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#vcall">
                            <div class="thumb">
                                <i class="flaticon-video-call"></i>
                            </div>
                            <span class="d-block subtitle">Video calls</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#psearch">
                            <div class="thumb">
                                <i class="flaticon-search-1"></i>
                            </div>
                            <span class="d-block subtitle">Powerful Search</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#ptools">
                            <div class="thumb">
                                <i class="flaticon-time-management"></i>
                            </div>
                            <span class="d-block subtitle">Productivity tools</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#aintergrate">
                            <div class="thumb">
                                <i class="flaticon-layers"></i>
                            </div>
                            <span class="d-block subtitle">App integrations</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="conversation">
                        <div class="row align-items-center flex-wrap-reverse">
                            <div class="col-lg-4 col-md-6">
                                <div class="convencing-feature-content">
                                    <h3 class="title">Bring your team together</h3>
                                    <p>Get access to everyone in your organization with customizable channels and a team directory.
                                    </p>
                                    <a href="#0" class="get-button">Get Free Trial<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="convencing-feature-thumb">
                                    <img src="./assets/images/feature/cf1.png" alt="feature">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vcall">
                        <div class="row align-items-center flex-wrap-reverse">
                            <div class="col-lg-4 col-md-6">
                                <div class="convencing-feature-content">
                                    <h3 class="title">Make video calls with one click</h3>
                                    <p>Stay connected with Solar's powerful inbuilt video conference feature. You can even screen share with just a click.</p>
                                    <a href="#0" class="get-button">Get Free Trial<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="convencing-feature-thumb">
                                    <img src="./assets/images/feature/cf2.png" alt="feature">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="psearch">
                        <div class="row align-items-center flex-wrap-reverse">
                            <div class="col-lg-4 col-md-6">
                                <div class="convencing-feature-content">
                                    <h3 class="title">Easily find and share information
                                    </h3>
                                    <p>Powerful search helps you find anything shared in Solar-Network, whether it’s a message, file, or link.</p>
                                    <a href="#0" class="get-button">Get Free Trial<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="convencing-feature-thumb">
                                    <img src="./assets/images/feature/cf3.png" alt="feature">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ptools">
                        <div class="row align-items-center flex-wrap-reverse">
                            <div class="col-lg-4 col-md-6">
                                <div class="convencing-feature-content">
                                    <h3 class="title">Stay on track with apps
                                    </h3>
                                    <p>Use our powerful suite of business collaboration tools - Shared To-Dos, Polls, Note Sharing, Reminders, and more - to optimize project management.</p>
                                    <a href="#0" class="get-button">Get Free Trial<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="convencing-feature-thumb">
                                    <img src="./assets/images/feature/cf4.png" alt="feature">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aintergrate">
                        <div class="row align-items-center justify-content-between flex-wrap-reverse">
                            <div class="col-lg-5 col-md-6">
                                <div class="convencing-feature-content">
                                    <h3 class="title">Integrate your favorite tools</h3>
                                    <p>Solar-Network offers over 50 integrations with tools like Asana, Twitter, Googe Drive, and Todoist. Add your apps in Solar with one click and you’ll never need to switch tools to get work done.</p>
                                    <a href="#0" class="get-button">Get Free Trial<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7">
                                <div class="convencing-feature-thumb">
                                    <img src="./assets/images/feature/cf5.png" alt="feature">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="counter-wrapper-area-2">
                <div class="counter-wrapper-2">
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">45</span><span class="intitle">k</span></h2>
                        <span class="name">Users</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">90</span><span class="intitle">+</span></h2>
                        <span class="name">Countries</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">10</span><span class="intitle">+</span></h2>
                        <span class="name">Integrations</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">95</span><span class="intitle">%</span></h2>
                        <span class="name">Satisfaction</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--============= Convence Feature Section Ends Here =============-->
    <!--============= Pricing Section Starts Here =============-->
    <section class="pricing-section padding-top oh padding-bottom pb-md-0 bg_img pos-rel" data-background="./assets/images/bg/pricing-bg.jpg" id="pricing">
        <div class="top-shape d-none d-md-block">
            <img src="./assets/css/img/top-shape.png" alt="css">
        </div>
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/bottom-shape.png" alt="css">
        </div>
        <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/1.png" alt="balls">
        </div>
        <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/2.png" alt="balls">
        </div>
        <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/3.png" alt="balls">
        </div>
        <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/4.png" alt="balls">
        </div>
        <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/5.png" alt="balls">
        </div>
        <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/6.png" alt="balls">
        </div>
        <div class="container">
            <div class="section-header pb-30 cl-white">
                <h5 class="cate">Choose a plan that's right for you</h5>
                <h2 class="title">Simple Pricing Plans</h2>
                <p>
                    Solar-Network has plans, from free to paid, that scale with your needs. Subscribe to a plan that fits the size of your business.
                </p>
            </div>
            <div class="range-wrapper-2">
                <div class="pricing-range">
                    <div class="pricing-range-top pt-0">
                        <div class="tags-area">
                            <h3 class="tags">Eastimate Your Price</h3>
                        </div>
                        <div class="pricing-header">
                            <span class="cate">Pricing Options</span>
                            <div class="select-container">
                                <select class="select-bar">
                                    <option value="basic">Basic</option>
                                    <option value="standard">Standard</option>
                                    <option value="premium">Premium</option>
                                    <option value="pro">Premium Pro</option>
                                </select>
                            </div>
                        </div>
                        <div class="amount-area">
                            <div class="item">
                                <h2 class="title"><sup>$</sup>15.00</h2>
                                <span class="info">Per Month</span>
                            </div>
                            <div class="item">
                                <h2 class="title"><sup>$</sup>199.00</h2>
                                <span class="info">Per Year</span>
                            </div>
                        </div>
                        <div class="invest-range-area">
                            <div class="invest-amount" data-min="1.00 USD" data-max="1000 USD">
                                <div id="usd-range" class="invest-range-slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-range-bottom">
                        <div class="left">
                            <span class="cate">People Joined Already</span>
                            <h2 class="title">455,326,234</h2>
                        </div>
                        <div class="right">
                            <a href="#0" class="custom-button">Download App</a>
                            <ul class="download-options">
                                <li>
                                    <a href="#0" class="active"><i class="fab fa-windows"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-apple"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-android"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Ends Here =============-->
    <!--============= Feature Section Starts Here =============-->
    <section class="feature-section padding-top oh pos-rel padding-bottom pb-xl-0" id="feature">
        <div class="feature-shapes d-none d-lg-block">
            <img src="./assets/images/feature/feature-shape.png" alt="feature">
        </div>
        <div class="container">
            <div class="section-header mw-725">
                <h5 class="cate">Extra Crazy Features that will</h5>
                <h2 class="title">Boost Your Productivity </h2>
                <p>
                    In the process of making a app, the satisfaction of users is the most important and the focus is on usability and completeness
                </p>
            </div>
            <div class="row">
                <div class="col-lg-5 rtl">
                    <div class="feature--thumb style-two pr-xl-4 ltr">
                        <div class="feat-slider owl-carousel owl-theme" data-slider-id="1">
                            <div class="main-thumb">
                                <img src="./assets/images/feature/pro-main5.png" alt="feature">
                            </div>
                            <div class="main-thumb">
                                <img src="./assets/images/feature/pro-main6.png" alt="feature">
                            </div>
                            <div class="main-thumb">
                                <img src="./assets/images/feature/pro-main7.png" alt="feature">
                            </div>
                            <div class="main-thumb">
                                <img src="./assets/images/feature/pro-main6.png" alt="feature">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="feature-wrapper mb-30-none owl-thumbs" data-slider-id="1">
                        <div class="feature-item">
                            <div class="feature-thumb">
                                <div class="thumb">
                                    <img src="./assets/images/feature/pro5.png" alt="feature">
                                </div>
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Latest Technology</h4>
                                <p>The satisfaction of users is the most important and the focus is on usability and completeness
                                </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-thumb">
                                <div class="thumb">
                                    <img src="./assets/images/feature/pro2.png" alt="feature">
                                </div>
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Flexible Usability</h4>
                                <p>The satisfaction of users is the most important and the focus is on usability and completeness
                                </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-thumb">
                                <div class="thumb">
                                    <img src="./assets/images/feature/pro3.png" alt="feature">
                                </div>
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Easy to Manage Your All Data</h4>
                                <p>The satisfaction of users is the most important and the focus is on usability and completeness
                                </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-thumb">
                                <div class="thumb">
                                    <img src="./assets/images/feature/pro4.png" alt="feature">
                                </div>
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Designed for all devices</h4>
                                <p>The satisfaction of users is the most important and the focus is on usability and completeness
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feat-nav">
                        <a href="#0" class="feat-prev"><i class="flaticon-left"></i></a>
                        <a href="#0" class="feat-next active"><i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Feature Section Ends Here =============-->
    <!--============= How It Works Section Starts Here =============-->
    <div class="amazing-feature padding-top padding-bottom pos-rel oh" id="feature">
        <div class="rocket d-none d-xl-block" data-paroller-factor="0.70" data-paroller-factor-lg="-0.70" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="./assets/images/feature/rocket.png" alt="feature"></div>
        <div class="am-obj"><img src="./assets/images/feature/am-obj2.png" alt="feature"></div>
        <div class="am-obj two"><img src="./assets/images/feature/am-obj.png" alt="feature"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <div class="section-header">
                        <h5 class="cate">Extra Crazy Features</h5>
                        <h2 class="title">That you'll love Solar-Network</h2>
                        <p class="mw-100">In the process of making a app, the satisfaction of users is the most important and the focus is on usability and completeness</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-sm-6 col-lg-3">
                            <div class="am-item">
                                <div class="am-thumb">
                                    <img src="./assets/images/feature/am-fea1.png" alt="feature">
                                </div>
                                <div class="am-content">
                                    <h5 class="title">Free Trial</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="am-item active">
                                <div class="am-thumb">
                                    <img src="./assets/images/feature/am-fea2.png" alt="feature">
                                </div>
                                <div class="am-content">
                                    <h5 class="title">Secure Data</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="am-item">
                                <div class="am-thumb">
                                    <img src="./assets/images/feature/am-fea3.png" alt="feature">
                                </div>
                                <div class="am-content">
                                    <h5 class="title">Quick Access</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="am-item">
                                <div class="am-thumb">
                                    <img src="./assets/images/feature/am-fea4.png" alt="feature">
                                </div>
                                <div class="am-content">
                                    <h5 class="title">24h Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============= How It Works Section Starts Here =============-->
    <!--============= How It Works Section Starts Here =============-->
    <section class="work-section padding-bottom bg_img mb-md-95 pb-md-0" data-background="./assets/images/work/work-bg.jpg" id="how">
        <div class="oh padding-top pos-rel">
            <div class="top-shape d-none d-lg-block">
                <img src="./assets/css/img/work-shape.png" alt="css">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-7">
                        <div class="section-header left-style cl-white">
                            <h5 class="cate">Describe Your App</h5>
                            <h2 class="title">Let’s See How It Work</h2>
                            <p>It's easier than you think.Follow the simple easy steps</p>
                        </div>
                    </div>
                </div>
                <div class="work-slider owl-carousel owl-theme" data-slider-id="2">
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="./assets/images/work/work1.png" alt="work">
                        </div>
                        <div class="work-content cl-white">
                            <h3 class="title">Register</h3>
                            <p>First, you need to register a user account on our website before configuring and using it on a regular basis.</p>
                            <a href="#0" class="get-button white light">Get Started <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="./assets/images/work/work1.png" alt="work">
                        </div>
                        <div class="work-content cl-white">
                            <h3 class="title">Configure</h3>
                            <p>First, you need to register a user account on our website before configuring and using it on a regular basis.</p>
                            <a href="#0" class="get-button white light">Get Started <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="./assets/images/work/work1.png" alt="work">
                        </div>
                        <div class="work-content cl-white">
                            <h3 class="title">Integrate</h3>
                            <p>First, you need to register a user account on our website before configuring and using it on a regular basis.</p>
                            <a href="#0" class="get-button white light">Get Started <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="./assets/images/work/work1.png" alt="work">
                        </div>
                        <div class="work-content cl-white">
                            <h3 class="title">Yay! Done</h3>
                            <p>First, you need to register a user account on our website before configuring and using it on a regular basis.</p>
                            <a href="#0" class="get-button white light">Get Started <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="count-slider owl-thumbs" data-slider-id="2">
                <div class="count-item">
                    <span class="serial">01</span>
                    <h5 class="title">Register</h5>
                </div>
                <div class="count-item">
                    <span class="serial">02</span>
                    <h5 class="title">Configure</h5>
                </div>
                <div class="count-item">
                    <span class="serial">03</span>
                    <h5 class="title">Integrade</h5>
                </div>
                <div class="count-item">
                    <span class="serial">04</span>
                    <h5 class="title">Yay! Done</h5>
                </div>
            </div>
        </div>
    </section>
    <!--============= How It Works Section Ends Here =============-->


    <!--============= Access Section Starts Here =============-->
    <section class="access-section padding-bottom padding-top oh">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4 col-xl-3 rtl d-none d-lg-block">
                    <img src="./assets/images/access/access1.png" alt="access">
                </div>
                <div class="col-lg-8">
                    <div class="access-content">
                        <div class="section-header left-style mb-olpo">
                            <h5 class="cate">All in One Access</h5>
                            <h2 class="title">Everything your business needs in one central place</h2>
                            <p>Our innovative, easy-to-use tools live in just one platform, saving you time and streamlining your work. Make admin tasks more efficient, get paid faster, and collaborate more seamlessly.</p>
                        </div>
                        <a href="#0" class="get-button">get free trial <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Access Section Ends Here =============-->


    <!--============= Feature Video Section Starts Here =============-->
    <section class="feature-video-section padding-top ash-gradient-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section-header mw-100">
                        <h5 class="cate">Amazing features to convince you</h5>
                        <h2 class="title">Watch our video presentation</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <p>In the process of making a app, the satisfaction of users is the most important and the focus is on usability and completeness</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="pos-rel mw-100">
                        <img class="w-100" src="./assets/images/feature/feature-video.png" alt="bg">
                        <a href="https://www.youtube.com/watch?v=ObZwFExwzOo" class="video-button-2 popup">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="flaticon-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Feature Video Section Ends Here =============-->


    <!--============= Advance Feature Section Starts Here =============-->
    <section class="advance-feature-section padding-top-2 padding-bottom-2">
        <div class="container">
            <div class="advance-feature-item padding-top-2 padding-bottom-2">
                <div class="advance-feature-thumb">
                    <img src="./assets/images/feature/advance1.png" alt="feature">
                </div>
                <div class="advance-feature-content">
                    <div class="section-header left-style mb-olpo">
                        <h5 class="cate">Advance features give you full control.</h5>
                        <h2 class="title">See what you can achieve!</h2>
                        <p>The simple, intuitive user interface is designed to help you see exactly what you need to focus on.As a team member you can focus on your work and as a team leader, you can easily manage your team.</p>
                    </div>
                    <a href="#0" class="get-button">get free trial <i class="flaticon-right"></i></a>
                </div>
            </div>
            <div class="advance-feature-item padding-top-2 padding-bottom-2">
                <div class="advance-feature-thumb">
                    <img src="./assets/images/feature/advance2.png" alt="feature">
                </div>
                <div class="advance-feature-content">
                    <div class="section-header left-style mb-olpo">
                        <h5 class="cate">Powerful and Flexible</h5>
                        <h2 class="title">Collaboration for team work</h2>
                        <p>The simple, intuitive user interface is designed to help you see exactly what you need to focus on.As a team member you can focus on your work and as a team leader, you can easily manage your team.</p>
                    </div>
                    <a href="#0" class="get-button">get free trial <i class="flaticon-right"></i></a>
                </div>
            </div>
            <div class="advance-feature-item padding-top-2 padding-bottom-2">
                <div class="advance-feature-thumb">
                    <img src="./assets/images/feature/advance3.png" alt="feature">
                </div>
                <div class="advance-feature-content">
                    <div class="section-header left-style mb-olpo">
                        <h5 class="cate">Discover powerful tool for your customers.</h5>
                        <h2 class="title">Great template for your Web app</h2>
                        <p>The simple, intuitive user interface is designed to help you see exactly what you need to focus on.As a team member you can focus on your work and as a team leader, you can easily manage your team.</p>
                    </div>
                    <a href="#0" class="get-button">get free trial <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--============= Advance Feature Section Ends Here =============-->


    <!--============= Pricing Section Starts Here =============-->
    <section class="pricing-section padding-top oh padding-bottom pb-lg-half bg_img pos-rel" data-background="./assets/images/bg/pricing-bg.jpg" id="pricing">
        <div class="top-shape d-none d-md-block">
            <img src="./assets/css/img/top-shape.png" alt="css">
        </div>
        <div class="bottom-shape d-none d-md-block mw-0">
            <img src="./assets/css/img/bottom-shape.png" alt="css">
        </div>
        <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/1.png" alt="balls">
        </div>
        <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/2.png" alt="balls">
        </div>
        <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/3.png" alt="balls">
        </div>
        <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/4.png" alt="balls">
        </div>
        <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="./assets/images/balls/5.png" alt="balls">
        </div>
        <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="./assets/images/balls/6.png" alt="balls">
        </div>
        <div class="container">
            <div class="section-header cl-white">
                <h5 class="cate">Choose a plan that's right for you</h5>
                <h2 class="title">Simple Pricing Plans</h2>
                <p>
                    Solar-Network has plans, from free to paid, that scale with your needs. Subscribe to a plan that fits the size of your business.
                </p>
            </div>
            <div class="tab-up">
                <ul class="tab-menu pricing-menu">
                    <li class="active">Monthly</li>
                    <li>Yearly</li>
                </ul>
                <div class="tab-area">
                    <div class="tab-item active">
                        <div class="pricing-slider-wrapper">
                            <div class="pricing-slider owl-theme owl-carousel">
                                <div class="pricing-item-2">
                                    <h5 class="cate">Startup</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing1.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>5.0</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>3 Users 10 GB Storage</li>
                                        <li>Monthly Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Standard</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing2.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>10</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>5 Users 20 GB Storage </li>
                                        <li>Weekly Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Business</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing3.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>20</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>10 Users 40 GB Storage </li>
                                        <li>Daily Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Premium</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing4.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>30</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>15 Users 60 GB Storage </li>
                                        <li>Free Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item">
                        <div class="pricing-slider-wrapper">
                            <div class="pricing-slider owl-theme owl-carousel">
                                <div class="pricing-item-2">
                                    <h5 class="cate">Startup</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing1.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>60</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>3 Users 10 GB Storage</li>
                                        <li>Monthly Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Standard</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing2.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>120</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>5 Users 20 GB Storage </li>
                                        <li>Weekly Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Business</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing3.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>180</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>10 Users 40 GB Storage </li>
                                        <li>Daily Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                                <div class="pricing-item-2">
                                    <h5 class="cate">Premium</h5>
                                    <div class="thumb">
                                        <img src="./assets/images/pricing/pricing4.png" alt="pricing">
                                    </div>
                                    <h2 class="title"><sup>$</sup>270</h2>
                                    <span class="info">Per Month</span>
                                    <ul class="pricing-content-3">
                                        <li>15 Users 60 GB Storage </li>
                                        <li>Free Updates</li>
                                        <li>eCommerce Integration</li>
                                        <li>Interface Customization</li>
                                        <li>24/7 Support</li>
                                    </ul>
                                    <a href="#0" class="get-button">Select Plan<i class="flaticon-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Ends Here =============-->


    <!--============= Testimonial Section Starts Here =============-->
    <section class="testimonial-section padding-top pt-lg-half" id="client">
        <div class="container">
            <div class="section-header">
                <h5 class="cate">Testimonials</h5>
                <h2 class="title">5000+ happy clients all around the world</h2>
            </div>
            <div class="testimonial-wrapper">
                <a href="#0" class="testi-next trigger">
                    <img src="./assets/images/client/left.png" alt="client">
                </a>
                <a href="#0" class="testi-prev trigger">
                    <img src="./assets/images/client/right.png" alt="client">
                </a>
                <div class="testimonial-area testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <div class="testimonial-thumb">
                            <div class="thumb">
                                <img src="./assets/images/client/client1.jpg" alt="client">
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>
                                Awesome product. The guys have put huge effort into this app and focused on simplicity and ease of use.
                            </p>
                            <h5 class="title"><a href="#0">Bela Bose</a></h5>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-thumb">
                            <div class="thumb">
                                <img src="./assets/images/client/client1.jpg" alt="client">
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>
                                Awesome product. The guys have put huge effort into this app and focused on simplicity and ease of use.
                            </p>
                            <h5 class="title"><a href="#0">Raihan Rafuj</a></h5>
                        </div>
                    </div>
                </div>
                <div class="button-area">
                    <a href="#0" class="button-2">Leave a review <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--============= Testimonial Section Ends Here =============-->


    <!--============= Faq Section Starts Here =============-->
    <section class="faq-section padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-header">
                        <div class="cate">
                            <img src="./assets/images/cate.png" alt="cate">
                        </div>
                        <h2 class="title">Frequently Asked Questions</h2>
                        <a href="#0">More Questions <i class="flaticon-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-wrapper mb--38">
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">Is the Web App Secure?</h4>
                                <p>
                                    Web application security is the process of protecting websites and online services against different security threats that exploit vulnerabilities in an application’s code.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">What features does the Web App have?</h4>
                                <p>
                                    Both the Mobile Apps and the Web App give you the ability to you to access your account information, view news releases, report an outage, and contact us via email or phone.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">How do I get the Mobile App for my phone?</h4>
                                <p>
                                    Both the Mobile Apps and the Web App give you the ability to you to access your account information, view news releases, report an outage, and contact us via email or phone.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-thumb">
                                <i class="flaticon-pdf"></i>
                            </div>
                            <div class="faq-content">
                                <h4 class="title">How does Solar-Network differ from usual apps? </h4>
                                <p>
                                    Both the Mobile Apps and the Web App give you the ability to you to access your account information, view news releases, report an outage, and contact us via email or phone.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Faq Section Ends Here =============-->


    <!--============= Trial Section Starts Here =============-->
    <section class="trial-section padding-bottom padding-top">
        <div class="container">
            <div class="trial-wrapper padding-top padding-bottom pr">
                <div class="ball-1">
                    <img src="./assets/images/balls/balls.png" alt="balls">
                </div>
                <div class="trial-content cl-white">
                    <h3 class="title">Start your 30 days free trials today!</h3>
                    <p>
                        We have provided 30 Days Money Back <br> Guarantee in case of dissatisfaction with our product.
                    </p>
                </div>
                <div class="trial-button">
                    <a href="#0" class="transparent-button">Get Free Trial <i class="flaticon-right ml-xl-2"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--============= Trial Section Ends Here =============-->


    <!--============= Footer Section Starts Here =============-->
    <footer class="footer-section bg_img" data-background="./assets/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer-top padding-top padding-bottom">
                <div class="logo">
                    <a href="#0">
                        <img src="./assets/images/logo/footer-logo.png" alt="logo">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#0" class="active"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <ul class="footer-link">
                    <li>
                        <a href="#0">About</a>
                    </li>
                    <li>
                        <a href="#0">FAQs</a>
                    </li>
                    <li>
                        <a href="#0">Contact</a>
                    </li>
                    <li>
                        <a href="#0">Terms of Service</a>
                    </li>
                    <li>
                        <a href="#0">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    Copyright © 2021.All Rights Reserved By <a href="#0">Solar-Network</a>
                </p>
            </div>
        </div>
    </footer>

</body>

{% endblock %}