<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Solar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/owl.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/tagsinput.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <!-- Cookie Files -->
    <script defer data-domain="solar.org" src="https://plausible.io/js/plausible.js"></script>
    <link rel=" stylesheet " href="/assets/css/cookie-consent.css " /> {% block stylesheets %}{% endblock %}

</head>


<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


{% block body %}{% endblock %}


<!--============= Footer Section Ends Here =============-->

<script src="/assets/js/jquery-3.3.1.min.js "></script>
<script src="/assets/js/modernizr-3.6.0.min.js "></script>
<script src="/assets/js/plugins.js "></script>
<script src="/assets/js/popper.min.js "></script>
<script src="/assets/js/bootstrap.min.js "></script>
<script src="/assets/js/magnific-popup.min.js "></script>
<script src="/assets/js/jquery-ui.min.js "></script>
<script src="/assets/js/wow.min.js "></script>
<script src="/assets/js/waypoints.js "></script>
<script src="/assets/js/nice-select.js "></script>
<script src="/assets/js/owl.min.js "></script>
<script src="/assets/js/counterup.min.js "></script>
<script src="/assets/js/paroller.js "></script>
<script src="/assets/js/main.js "></script>
<script src="/assets/js/tagsinput.js "></script>

<script src="/assets/js/cookie-consent.js "></script>
<script src="/assets/js/cookie.js "></script>


<script>
    // select all accordion items
    const accItems = document.querySelectorAll(".accordion__item");

    // add a click event for all items
    accItems.forEach((acc) => acc.addEventListener("click", toggleAcc));

    function toggleAcc() {
        // remove active class from all items exept the current item (this)
        accItems.forEach((item) => item != this ? item.classList.remove("accordion__item--active") : null);

        // toggle active class on current item
        if (this.classList != "accordion__item--active") {
            this.classList.toggle("accordion__item--active");
        }
    }
</script>


{% block javascripts %}{% endblock %}

</html>