<!--============= Footer Section Starts Here =============-->

<footer class="footer-section bg_img" data-background="/assets/images/footer/footer-bg.png">

    <div class="container">
        <div class="footer-top padding-top padding-bottom" style="padding-top:60px;">
            <div class="logo">
                <a href="#0">
                    <img src="/assets/images/logo/footer-logo.png" alt="logo">
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="https://github.solar.org" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://discord.solar.org" target="_blank"><i class="fab fa-discord"></i></a>
                </li>
                <li>
                    <a href="https://telegram.solar.org" target="_blank"><i class="fab fa-telegram"></i></a>
                </li>
                <!--   <li>
                    <a href="https://reddit.solar.org" target="_blank"><i class="fab fa-reddit"></i></a>
                </li> -->
                <li>
                    <a href="https://twitter.solar.org" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <ul class="footer-link">
                <li>
                    <a href="/about-solar">About</a>
                </li>
                <!--  <li>
                    <a href="/faq">FAQ</a>
                </li> -->
                <li>
                    <a href="/roadmap">Roadmap</a>
                </li>
                <li>
                    <a href="/whitepaper">Whitepaper</a>
                </li>
                <li>
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                Copyright © 2021-2022. All Rights Reserved By Solar
            </p>
        </div>
    </div>
</footer>
<!--============= Footer Section Ends Here =============-->