<!--============= ScrollToTop Section Starts Here =============-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->


<!--============= Header Section Starts Here =============-->
<header class="header-section header-cl-black">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="index.html">
                    <img src="./assets/images/logo/logo2.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#0">About</a>
                    <ul class="submenu">
                        <li>
                            <a href="/about-solar">About Solar</a>
                        </li>
                        <li>
                            <a href="/roadmap">Roadmap</a>
                        </li>
                        <li>
                            <a href="/whitepaper">Whitepaper</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Apps</a>
                    <ul class="submenu">
                        <li>
                            <a href="/desktop-wallet">Desktop Wallet</a>
                        </li>
                        <li>
                            <a href="/mobile-wallet">Mobile Wallet</a>
                        </li>
                        <li>
                            <a href="/web-wallet">Web Wallet</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Blockchain</a>
                    <ul class="submenu">
                        <li>
                            <a href="/staking">Staking</a>
                        </li>
                        <li>
                            <a href="/developer-documentation">Developer Documentation</a>
                        </li>
                        <li>
                            <a href="/exchange-documentation">Exchange Documentation</a>
                        </li>
                        <li>
                            <a href="/swap-details">Swap Details</a>
                        </li>
                    </ul>
                </li>
                <li class="d-sm-none">
                    <a href="#0" class="m-0 header-button">Join Us</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">
                <a href="#0" class="header-button d-none d-sm-inline-block">Join Us</a>
            </div>
        </div>
    </div>
</header>
<!--============= Header Section Ends Here =============-->