<!--============= ScrollToTop Section Starts Here =============-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->


<!--============= Header Section Starts Here =============-->
<header class="header-section header-cl-black">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/">
                    <img src="/assets/images/logo/logo2.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#0">About</a>
                    <ul class="submenu">
                        <li>
                            <a href="/about-solar">About Solar</a>
                        </li>
                        <li>
                            <a href="/roadmap">Roadmap</a>
                        </li>
                        <li>
                            <a href="/whitepaper">Whitepaper</a>
                        </li>
                        <!--      <li>
                            <a href="/faq">FAQ</a>
                        </li> -->
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Apps</a>
                    <ul class="submenu">
                        <li>
                            <a href="/desktop-wallet">Desktop Wallet</a>
                        </li>
                        <!-- <li>
                            <a href="/mobile-wallet">Mobile Wallet</a>
                        </li>-->
                        <!--  <li>
                            <a href="/web-app">Web App</a>
                        </li>-->
                    </ul>
                </li>
                <li>
                    <a href="#0">Blockchain</a>
                    <ul class="submenu">
                        <li>
                            <a href="/staking">Staking</a>
                        </li>
                        <li>
                            <a href="/dev-docs">Developer Documentation</a>
                        </li>
                        <li>
                            <a href="/swap-details">Swap Details</a>
                        </li>
                    </ul>
                </li>
                <!--  <li>
                    <a href="#0">Events</a>
                    <ul class="submenu">
                        <li>
                            <a href="/meme-mondy">Meme Monday</a>
                        </li>
                        <li>
                            <a href="/dev-docs">Developer Documentation</a>
                        </li>
                        <li>
                            <a href="/swap-details">Swap Details</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <a href="https://explorer.solar.org" target="_blank">Explorer</a>
                </li>
                <li>
                    <a href="/community">Community</a>
                </li>

                <li class="d-sm-none mobile-center">
                    <a href="https://blog.solar.org" target="_blank" class="m-0 header-button">Blog</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">
                <a href="https://blog.solar.org" target="_blank" class="header-button d-none d-sm-inline-block">Blog</a>
            </div>
        </div>
    </div>
</header>
<!--============= Header Section Ends Here =============-->