{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}
    <!--============= Header Section Ends Here =============-->
    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">About Solar</h5>
                        <h2 class="title">Community Driven Ecosystem</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->



    <section class="about-section padding-top padding-bottom oh">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 mobile-hide">
                    <div class="about-thumb rtl pr-xl-15">
                        <img src="./assets/images/about/about.png" alt="about">
                    </div>
                </div>
                <div class="col-xl-7 pl-xl-0">
                    <div class="about-content">
                        <div class="section-header left-style mobile-center">
                            <h5 class="cate">A Few Words About Us</h5>
                            <h2 class="title">We are Solar</h2>
                            <p>A decentralized community-driven blockchain project.<br> Solar is focused on creating an ecosystem with true governance. <br> An ecosystem with open-source developers and community involvement.<br>
                                <br> Our blockchain offers a wide variety of features and tools that allows us to level with enterprise-grade applications.<br> Discover our ecosystem. Join the community.
                                <br>Participate in our governance system or contribute to our platform.<br><br> Solar is available for everyone, including you.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="oh creativity-section padding-bottom bg-max-lg-ash bg_img top_center" data-background="./assets/images/feature/creative-bg.png" style="background-image: url(&quot;./assets/images/feature/creative-bg.png&quot;);">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 padding-top">
                    <div class="section-header left-style mb-0 mobile-center">
                        <h5 class="cate">Sustainable. Efficient. Decentralized.</h5>
                        <h2 class="title">Powered by Blockchain.</h2>
                        <p>Unlike many traditional blockchains, Solar utilizes the Delegated Proof of Stake (DPoS) Consensus powered by ARK Core.<br> This makes the Solar Blockchain is sustainable, efficient and fully decentralized without the known issues
                            from traditional Proof of Work (PoW) blockchains such as being energy intensive or 51% attack vectors.<br><br> The Solar Blockchain has 53 delegates also known as node operators. These delegates are selected by the voters,
                            based on their wallet weight.
                            <br>The easiest way to vote for a delegate is by downloading the Solar wallet and to vote for one of delegates of your liking.<br> The main purpose of a delegate is to contribute to the blockchain network by providing security
                            enhancements, code updates, marketing or brand development and many other contributions. Delegates receive rewards from blocks produced on the blockchain network and they usually share these rewards with their voters.
                            <br><br> Click on the button below to learn more about the voting or delegating features of the Solar Blockchain.
                        </p>
                        <div class="group">
                            <a href="/staking" class="button-4">Learn more</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 d-none d-lg-block">
                    <img src="./assets/images/feature/experience.png" alt="feature">
                </div>
            </div>
        </div>
    </section>
    <section class="trial-section" style="margin-bottom:100px;">
        <div class="container">
            <div class="trial-wrapper padding-top padding-bottom bg_img style-two mobile-center" data-background="./assets/images/bg/trial.png" style="background-image: url(&quot;./assets/images/bg/trial.png&quot;);">
                <div class="trial-content">
                    <h3 class="title">Community</h3>
                    <p>
                        Join our community and feel free to ask any questions or request further information about Solar.
                        <br>

                    </p>
                </div>
                <div class="trial-button">
                    <a href="/community" class="button-3 long-light active">Community <i
                            class="flaticon-right ml-xl-2"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!---->
    {% include "/blocks/footer.twig" %}


</body>
{% endblock %}