{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}

    <!---->
    <p>test</p>

    <!---->
</body>
{% endblock %}