{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">

    {% include "/blocks/header.twig" %}


    <section class="how-section-two oh pos-rel mt-120 mt-max-lg-0" id="how" style="margin-bottom:150px;">
        <div class="container">
            <div class="row flex-wrap-reverse">

                <div class="col-lg-12 padding-top" style="margin-bottom:50px;">
                    <div class="section-header">
                        <h2 class="title">2022 Roadmap</h2>
                        <p>Join our journey.</p>
                        <a target="_blank" href="https://coinmarketcal.com/en/coin/swipe" class="button-3 active">View Coinmarketcal
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <h2 class="roadmap-milestone mb-2" style="text-align:center;justify-content:center;">Q1</h2>
                    <h4 class="mb-2 mt-2" style="color:black;text-align:center;justify-content:center;">A new beginning
                    </h4>
                    <div class="accordion">
                        <div class="accordion__item">
                            <button class="accordion__btn">

                                <span class="accordion__caption"><i class="fa fa-check"></i> New Team
                                    Formation</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>

                            <div class="accordion__content">
                                <p class="solar">Solar is a new decentralized autonomous organization utilitizing the SXP coin. SXP Tokens from ERC20 and BEP20 will move over to the mainnet controlled by the DAO. A new team has been formed and elected to lay the first
                                    bricks of the Solar project.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Deploy Operational
                                    Devnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">SXP will have its own mainnet blockchain with its own native SXP coins. Most SXP holders will be joining from the ERC20/BEP20 framework. The current holders will have to get familiar with the new framework. By having a
                                    devnet, users can already interact with a network that will be similar to mainnet. Developers will be able to deploy and test their tools on devnet without spending gas that has any monetary value. Devnet coins can
                                    be obtained from the Solar Discord or from the @dSXPBot on Telegram.</p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Devnet & Mainnet Explorer</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A new explorer has been developed by the Xbridge team. This team will keep on providing updates to the branded Solar explorer. The explorer is already working for devnet. Mainnet will be added after its launch.</p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Release Desktop
                                    Wallets</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">New desktop wallets have already been deployed. We aim to release a new desktop wallet right before mainnet launch with several improvements and feature updates.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> SDK & Libraries</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">New SDK libraries and documentation will be released in our dedicated documentation page. https://docs.solar.network. These libraries will be used by exchange organizations that are supporting the SXP coin on their platform.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Deploy Side Ledger Protocol
                                    on devnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">Solar Side Ledger Protocol (SLP) is our own unique feature that utilizes the smartbridge field on the SXP blockchain. The native SXP coin will be used to pay fees for SLP transactions. SLP will be deployed on devnet at
                                    first to allow people to get familiar with SLP and developers of this protocol will be able to modify and finetune the features. SLP will allow users to create fungible and non-fungible tokens. The fungible tokens are
                                    a “ERC20” like and can be used for many applications such as ICO’s and funding programs, but also for supply chain management, meme tokens etc. The NFT’s will support metadata from the start and can be used in a wide
                                    variety of applications.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Testing Phase SLP on Devnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">We will have our own community audit and test phase on the SLP program that is deployed on devnet. We will launch SLP on mainnet once this phase is complete.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Whitepaper Release</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A new whitepaper for 2022 will be released with a better explanation of the Core blockchain, tokenomics, the community, the goals of the Solar project and anything that is being mentioned in the Solar roadmap.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">AMA Session</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">An AMA session will be organized by the community for the project lead of Solar after the whitepaper release and before mainnet release. The platform and date for this AMA session will be decided with advance notice.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Delegates Proposal Platform</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The delegates are a crucial part of the network. These are community memebers that are running one of the 53 nodes on the SXP blockchain. Delegates are chosen by the voters (SXP holders) and contribute to the network. Contribution
                                    proposals are posted on the delegate page so it is important to elect delegates who are doing more than just running a node and sharing rewards. Some delegates can contribute to the security of the network, which is
                                    the most vital contribution. Other contributions can be in the form of tools for node operators and the community, or contributions in the form of community and marketing development or simply organizing meetups and
                                    spread the word about the Solar project.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Voter & Delegate Documentation</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">As explained in the “Publish Delegates Proposal page”, documentation will be provided for voters and delegates. Delegates are forging blocks on the network. For each block they forge, they will receive 10 SXP. This SXP
                                    is usually shared with the voters. It is important to know that voting for the highest sharing delegate can have a negative effect on the network. Sometimes it's more beneficial to the whole project to vote for delegates
                                    that contribute more to Solar. More about this will be explained in the documentation.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Deploy Mainnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A fresh blockchain will be deployed during this phase. The block count will start from 1 and new blocks will be forged every 8 seconds.</p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Staking Enabled</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">After mainnet deployment, staking will be enabled at block 76200. Assuming that all delegates are forging without any missing blocks, this should take 7 days to get to block 76200. Within these 7 days, the network will
                                    mature organically and voters will have the chance to vote for their favourite delegates. (you can still vote after these 7 days, but enabling staking after 7 days, voters will have the chance to not miss out on forging
                                    rewards)
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Swap from ERC20/BEP20 to Mainnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A complete and detailed swap instructions will be provided in the whitepaper and on our website at the swap section. If you have your current SXP tokens on a exchange, the swap will be completed automatically. Solar will
                                    also provide a decentralized bridge for users to swap their tokens to the native SXP coins on mainnet. By having this decentralized solution, no one will be able to get more SXP than what they already have. Meaning
                                    that the circulation supply will remain the same as it is now. Unwrapped tokens or tokens that are not in circulation will not be swapped.</p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Social Media Active</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">We aim to release updates about Solar every day. With every day of the week and with fixed topics. <br>Example:</p>
                                <ul style="padding-left: 15px;">
                                    <li> - Meme Monday (Meme competition for community engagement with several digital and physical rewards)
                                    </li>
                                    <li> - Delegate Tuesday (Interview with delegate)</li>
                                    <li> - Wednesday Weekly Digest (Updates about general development at Solar)</li>
                                    <li> - Community Thursday (Any subject regarding community development)</li>
                                    <li> - Token Friday (Selecting a project on SXP using SLP and putting them in the spotlights with an interview)
                                    </li>
                                    <li> - Saturday Coffee Break (Update and discussing about market trends regarding SXP or the general crypto market)</li>
                                    <li> - Academy Sunday (Information about the github repositories or new guides/courses to work with the SXP blockchain)</li>
                                </ul>
                                <p class="solar">We aim to release updates about Solar every day. With every day of the week with fixed topics.
                                    <br>These topics are subject to change and between these regular updates, Solar will also provide quarterly updates to publish current and future developments.
                                </p>

                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-6">
                    <h2 class="roadmap-milestone mb-2" style="text-align:center;justify-content:center;">Q2</h2>
                    <h4 class="mb-2 mt-2" style="color:black;text-align:center;justify-content:center;">The new SXP
                    </h4>
                    <div class="accordion">

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Release Mobile Wallet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A mobile wallet for SXP will be released. The development of the mobile wallet has not started yet as we are looking into developing a PWA that works in browser and as a natified mobile wallet.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Release Web Wallet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A web wallet will be released in this quarter with the same features and style as the desktop wallet.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Core Audit</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The core of the blockchain framework is forked from the Ark codebase. While adding our own features and utilities to the blockchain, we will request a third-party for an audit on the code. Since the deadline for this milestone
                                    is controlled by the third-party, we can't promise that we will achieve this milestone in Q2.
                                </p>
                            </div>
                        </div>



                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Documentation for Creators and Developers</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">Dedicated documentation will be published for developers and creators to interact with the SLP features of the SXP blockchain. These features are very rich in certain use-cases for normal end-users, artists, developers
                                    and enterprises.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Side Ledger Protocol SDK</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">Along with the SLP documentation, Solar is going to provide SDK’s for exchanges and developers to integrate the SLP features in their platform or software.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption"><i class="fa fa-check"></i> Wallet Update</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The desktop wallet and web wallet will be modified and enhanced to support the basic functions for SLP. Such as fungible and non-fungible token creation together with tools to view other SLP assets on the blockchain.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Deploy SLP on Mainnet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The Solar Side Ledger Protocol (SLP) will be officially deployed on the SXP blockchain. Its main utility is to allow anyone to create dApps, simple tokens or NFT creators to build on the SXP blockchain. The native SXP will
                                    be used to cover (gas) on all SLP transactions on the SXP blockchain.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Solar Metaverse Alpha</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">During this stage, we should have an Alpha Release version ready for the Solar Metaverse. The initial whitepaper won’t include any detailed information about the Metaverse, since we are still exploring ideas and opportunities.
                                    The main goal of the Metaverse is to create a “game-like” experience for users to interact in a 3D open world with other users and explore the blockchain. Several blockchain features will be focused on selling space
                                    in the Metaverse for building blocks and advertising blocks. Account creation and quests to earn SXP will be included in the Alpha release. Only a selected amount of people will be able to participate in the Alpha release.
                                    After a successful release, we will update the whitepaper with the new details regarding this topic.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Whitepaper Update</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The updated will now include detailed information about the Solar Metaverse and minor changes to existing plans might be made.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">NFT Marketplace Beta</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">In collaboration with “delegate nft” and the xbridge project, we will release a beta version of the NFT Marketplace for SLP tokens. After the beta, we will provide an update in the updated whitepaper of Q3.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Exploring 3rd Party Integration</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The Solar project will review potential partnership opportunities with third-parties to integrate SXP features on their products. This could be anything from payment platforms, to exchanges and academics or universities.
                                </p>
                            </div>
                        </div>


                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">SCF Election</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The Solar project will launch a foundation and will have the community elect board members. The foundation will receive grants from the community or the founders of Solar to boost third-party development of Solar.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Solar in Space</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">
                                    Proof of Concept using LoRa.
                                    <!-- hmm.. gave too many hints -->
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <h2 class="roadmap-milestone mb-2" style="text-align:center;justify-content:center;">Q3</h2>
                    <h4 class="mb-2 mt-2" style="color:black;text-align:center;justify-content:center;">Governance, Funding and more!</h4>
                    <div class="accordion">

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Solar Community Foundation Live</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The Solar Community Foundation is a non-profit organization that is able to review small projects on the SXP blockchain. These projects can request funding by offering proposals to build, create or host for the Solar project.
                                    The board members will review these projects and accept or reject the grant. Several bounty programs will also be introduced by the founders of the project.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">First Grant</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">An initial grant for the Solar Community Foundation will be provided by the founders of Solar.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Branded Armor Browser Wallet</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">In collaboration with xbridge.sh, we are going to release a browser wallet that will have the similar feeling and experience as the well-known MetaMask wallet. The Armor Wallet will allow you to connect to other blockchains
                                    using the same codebase and interact with advanced SLP features.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Listing on Crosschain.sh (DEX)</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">xbridge.sh is currently building a cross-chain decentralized exchange to bridge Ark-based blockchains. SXP with its SLP tokens will be listed on the “crosschain.sh” exchange and users will be able perform atomic swaps.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Whitepaper Update</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The whitepaper will be updated with detailed information about the NFT marketplace.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Governance Module Enabled</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The governance module is a plugin that can be enabled in the Solar Desktop Wallet. This module will allow SXP holders to vote for project decisions, blockchain features and elect new members of the team. More information
                                    about this feature will be described in the final whitepaper of 2022.

                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">SIP-2 Enabled</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">SIP-2 enables on-chain burning of fees. This will be described in more detail in the final whitepaper.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <h2 class="roadmap-milestone mb-2" style="text-align:center;justify-content:center;">Q4</h2>
                    <h4 class="mb-2 mt-2" style="color:black;text-align:center;justify-content:center;">Moving forward with True Governance</h4>
                    <div class="accordion">

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Solar Launchpad</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">The Solar Launchpad is a platform where users can present their projects that are created on the SXP blockchain using the SLP features.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Project Leader Election</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">Solar or SXP will be in full control of the community. Anyone could run for a project leader. The community can vote during these elections and elect a new project leader for 2023 by using the governance module.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">Solar Metaverse Update</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">A final update will be given on the Solar Metaverse, with the aim to release a final product without bugs or stability issues.
                                </p>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <button class="accordion__btn">
                                <span class="accordion__caption">New Goals</span>
                                <span class="accordion__icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="accordion__content">
                                <p class="solar">New milestones and proposed goals can be offered through the governance module. These new milestones will be chosen and described in the whitepaper and released by the newly elected project leader.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>



    {% include "/blocks/footer.twig" %}


</body>
{% endblock %}