{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">

    {% include "/blocks/header.twig" %}

    <!--============= How Section Starts Here =============-->
    <section class="how-section-two oh pos-rel mt-120 mt-max-lg-0" id="how" style="margin-bottom:150px;">
        <div class="how-main-bg bg_img" data-background="./assets/images/how/how-bg.jpg"></div>
        <div class="how-top"><img src="./assets/css/img/how-top2.png" alt="css"></div>
        <div class="how-bottom"><img src="./assets/css/img/how-bottom2.png" alt="css"></div>
        <div class="container">
            <div class="row flex-wrap-reverse">

                <div class="col-lg-12 padding-top" style="margin-bottom:50px;">
                    <div class="section-header">
                        <h2 class="title">Roadmap</h2>
                        <p>this text (placeholder)</p>
                    </div>
                    <div class="downarrow2">
                        <img src="./assets/images/feature/downarrow2.png" alt="feature">
                    </div>
                </div>
            </div>
            <div class="how-wrapper">
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c10.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i1.png" alt="how">
                        </div>

                        <p>
                            Q1 text
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h1.png" alt="how">
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c8.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i2.png" alt="how">
                        </div>

                        <p>
                            Q2 text
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h2.png" alt="how">
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <div class="serial">
                            <img src="./assets/images/how/c9.png" alt="how">
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/how/i3.png" alt="how">
                        </div>

                        <p>
                            Q3 text
                        </p>
                    </div>
                    <div class="how-thumb">
                        <img src="./assets/images/how/h3.png" alt="how">
                    </div>
                </div>
                <div class="plane wow slideInUp d-none d-lg-block" data-wow-duration="2s">
                    <img src="./assets/images/how/rocket.png" alt="how">
                </div>
            </div>
            <div class="member-counter-area padding-bottom padding-top">
                <div class="up-bal two wow">
                    <img src="./assets/images/how/c6.png" alt="how">
                </div>
                <div class="up-bal wow slideInUp" data-wow-duration="1s">
                    <img src="./assets/images/how/c7.png" alt="how">
                </div>
                <div class="member-bg">
                    <img src="./assets/images/how/how-much-bg.png" alt="how">
                </div>
                <div class="member-counter cl-white">

                    <a href="#0" class="custom-button">Participate</a>
                    <ul class="download-options">
                        <li>
                            <a href="#0"><i class="fab fa-windows"></i></a>
                        </li>
                        <li>
                            <a href="#0" class="active"><i class="fab fa-apple"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-android"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--============= How Section Ends Here =============-->


    {% include "/blocks/footer.twig" %}


</body>
{% endblock %}