{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">

    {% include "/blocks/header.twig" %}

    <!--============= How Section Starts Here =============-->
    <section class="how-section-two oh pos-rel mt-120 mt-max-lg-0" id="how" style="margin-bottom:150px;">
        <div class="container">
            <div class="row flex-wrap-reverse">

                <div class="col-lg-12 padding-top" style="margin-bottom:50px;">
                    <div class="section-header">
                        <h2 class="title">2022 Roadmap</h2>
                        <p>Our vision in 2022, we really excited to share our milestone of Solar Network</p>
                    </div>
                </div>
            </div>
            <div class="how-wrapper">
                <img class="how-wrapper-background" src="/assets/images/logo/logo_only.png">
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <h2 class="roadmap-milestone">Q1</h2>
                        <h4 class="roadmap-title">
                            Launching Mainnet <br>
                            Desktop & Mobile Wallet <br>
                            SDK Libaries</h4>
                        <p class="roadmap-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent id erat congue, luctus lectus sed, pulvinar nisl.
                            Mauris turpis ex, pellentesque ut viverra tincidunt,
                            dignissim in mi.
                        </p>
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <h2 class="roadmap-milestone">Q2</h2>
                        <h4 class="roadmap-title">Launch smart contract on Solar</h4>
                        <p class="roadmap-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent id erat congue, luctus lectus sed, pulvinar nisl.
                            Mauris turpis ex, pellentesque ut viverra tincidunt,
                            dignissim in mi.
                        </p>
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <h2 class="roadmap-milestone">Q3</h2>
                        <h4 class="roadmap-title">
                            Enable SIP-2<br>
                            On-Chain Burning Mechanism</h4>
                        <p class="roadmap-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent id erat congue, luctus lectus sed, pulvinar nisl.
                            Mauris turpis ex, pellentesque ut viverra tincidunt,
                            dignissim in mi.
                        </p>
                    </div>
                </div>
                <div class="how--item">
                    <div class="anime-item"></div>
                    <div class="how-content">
                        <h2 class="roadmap-milestone">In Further</h2>
                        <h4 class="roadmap-title"> More awesome plans is coming...</h4>
                        <p class="roadmap-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent id erat congue, luctus lectus sed, pulvinar nisl.
                            Mauris turpis ex, pellentesque ut viverra tincidunt,
                            dignissim in mi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= How Section Ends Here =============-->


    {% include "/blocks/footer.twig" %}


</body>
{% endblock %}