{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/header.twig" %}
    <section class="page-header bg_img oh" data-background="./assets/images/page-header.png" style="background-image: url(&quot;./assets/images/page-header.png&quot;);">
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/page-header.png" alt="css">
        </div>

        <div class="container" style="margin-top:50px;margin-bottom:50px;">
            <div class="page-header-content cl-white">
                <h2 class="title">Whitepaper</h2>

            </div>
        </div>
    </section>
    <!---->
    <section class="smart-watch-section" style="margin-bottom:150px;">
        <div class="smart-bg bg_img d-lg-block d-none" data-background="./assets/images/bg/smart-bg-1.png" style="background-image: url(&quot;./assets/images/bg/smart-bg-1.png&quot;);"></div>
        <div class="oh padding-top-2 padding-bottom-2 pb-lg-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-lg-4">
                        <div class="smart-watch-content mt-lg-5">
                            <div class="section-header left-style">
                                <h5 class="cate">Solar</h5>
                                <h2 class="title">Whitepaper </h2>
                                <p>
                                    Transparent text (placeholder)
                                </p>
                            </div>
                            <div class="banner-button-group justify-content-left">
                                <a href="#0" class="button-4">Download</a>
                                <a href="#0" class="button-4">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-block d-none">
                        <div class="smart-watch">
                            <img src="./assets/images/solar/whitepaper.svg" style="max-height:500px;" alt="watch">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    {% include "/blocks/footer.twig" %}

</body>
{% endblock %}